.tableWrapper{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 50px;

}
.SaledTable{
    padding-left: 40px;
    margin-left: 20pxs;
}
.inputWrapper{
    display: flex;
    justify-content: center;
}
.TableContainer{
    width: 144vh;
    height: 200vh ;
}
body{
    display: flex;
    height: 200vh;
    width: 100%;
    background-color: rgb(240, 235, 235);
}
.buttonsWrapper{
    padding-top: 5px;
    gap: 2px;
    display: flex;
}
.cardVenda{
    height: 100vh;
}
.card{
width:50vh ;
height: 120vh;
}